/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: flex;
    width: 99vw;
    
}

.grid {
    display: grid;
    grid-template-columns: 400px 320px 200px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.game-board {
    border: solid 2px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

.next {
    border: solid 2px;
}

tr, td {
    padding: 1rem;
}